<!DOCTYPE html>
<html>
<head>
  <title>Zánik Hippies aneb proč zhasly jointy?</title>
color: black; 
  <meta charset="utf-8">
  <style>
    h1 {
  color: black; 
  font-family: "arial";
  text-align:center;
  font-size: 250%;
 font-style: normal }
 h1 { 
      color: black; 
	 font-size: 150%;
	 font-weight: bold;
      }
 

body {

  background: url('https://images.designtrends.com/wp-content/uploads/2016/03/30103909/Hippie-Computer-Wallpaper.jpg')

}	 
.wrapper {
	margin: 50px auto;
	max-width: 800px;
	padding: 20px;
}

.header {
	padding: 30px 0;
	border-bottom: solid;
}

.content {
	float: right;
	width: 75%;
	border-left: solid;
	padding-left: 30px;
}

nav {
	float: left;
	width: 15%;
}

nav ul {
	list-style-type: none;
	padding: 0;
}
